@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --bs-body-bg: black;

}

main {
  background-color: black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  --bs-body-bg: black;
}

.centerdiv {
  margin: auto;
  
}


.objektimg{
  margin: auto;
  width:100%;
  transition: 0.2s;
}


.objektDiv {
  width: 100%;
  position: relative;
  margin: auto;
  transition: 0.2s ease-in-out;
}

.qrreader {
  width: 50%;
  margin:auto;
}



.button2:hover {
  background-color:rgb(127, 86, 201); 
}


.button2 {
  min-width: 70px;
  width: 30%;
  height: 40px;
  font-size: large;
  background-color:rgb(78, 38, 151); 
  color: white;
  border-radius: 3px;
  padding: 5px;
  display: block;
  margin:auto;
  margin-top: 10px;
  text-align: center;
}
.text1 {
  color: white;
  font-size: 30px;
  font-weight: 800;
}
.column {
  float: left;
  width: 33.33%;
  padding: 1px;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-5{
  margin-left: 5%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.div1 {
  margin-top: 120px;
  text-align: center;
}


.input1 {
  display: block;
  margin:auto;
  margin-top: 10px;
  width: 19%;
  min-width: 200px;
}
.navbarheader {
  width: 100%;
  height: 100px;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 50;
}

.logo {
  height: 69px;
}
.objektgrid {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}


.scrolling-div {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  width:95%;
  height: 120px;
  margin: auto;
  gap: 10px;
  margin-top: 10px;
}
.scrolling-div-child {
  min-height: 110px;
  height: fit-content;
  text-align: center;
  width:100px;
  font-size: 60%;
  color: black;
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  transition: 0.2s;
}
.scrolling-div-child:hover {
  width: 120px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
}

.scrolling-div-child img {
  margin:auto;
}

.scrolling-div-child p {
  width: 90%;
  margin: auto;
}

.partners {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
}

.partner {
  background-color:rgb(236, 236, 236);
  border-radius: 10px;
  opacity: 80%;
  margin: 1px;
  width: 97%;
  transition: 0.2s;
  display: flex;
  font-size: 100%;
}
@media only screen and (max-width: 500px) {
  .partner {
    background-color:rgb(236, 236, 236);
  border-radius: 10px;
  opacity: 80%;
  margin: 1px;
  display: block;
  transition: 0.2s;
    font-size: 70%;
    height: fit-content;
    min-height: 150px;

  }
  
}
@media only screen and (max-width: 500px) {
  .partners {
    grid-template-columns: repeat(3, 1fr);
  }
  
}
@media only screen and (max-width: 500px) {
  .partners p {
    margin:0%;
    margin: auto;
  }
}
.partners p {
  color: rgb(0, 0, 0);
  margin: auto;
  padding:3px;
  
}

.partners p:hover {
  color: rgb(20, 91, 102);
}
.partner:hover {
  opacity: 100%;
}
@media only screen and (max-width: 1000px) {
  .objektgrid {
      grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .objektgrid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .objektgrid {
      grid-template-columns: repeat(2, 1fr);
  }
}
.grid-objekt {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  margin: auto;

}

.objekt-skeleton {
  text-align: center;
  margin: auto;
  background-color: grey;
  opacity: 20%;
  padding-right: 100%;
  padding-top: 60%;
  padding-bottom: 100%;
  margin-bottom: 20px;
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 20px;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.objektinfo {
  min-width: 300px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  margin-top:-90px;

}

@media only screen and (max-width: 500px) {
  .objektinfo {

     width: 100%;
     margin-top:10px;

  }
}


@media only screen and (max-width: 500px) {
  .objektflipclass {
     min-width:200px;

}}

@media only screen and (max-height: 617px) {
  .objektflipclass {
     min-width:130px;

}}
.inobjektinfo {
  display: flex;
  width: 100%;
  background: gray;
  height: auto;
  margin-top: 10px;
  margin: auto;
  border-radius: 10px;
  color: white;
  padding: 30px;
}

@media only screen and (max-width: 500px) {
  .inobjektinfo {
    display: block;
     width: 100%;
     padding: 30px;
     background: gray;
     color: white;
     border-radius: 10px;
     margin-top: -138px;
     overflow-y: scroll;
     top: 0;
    bottom:0;

  }
}

.objektinfodiv {
  margin: 10vh;
}
@media only screen and (max-width: 500px) {
  .objektinfodiv {
    margin: 0px;
  }
}



@media only screen and (max-width: 500px) {
  .objektflipclass {
    width: 50%; 
    margin: auto;
  }
}


div#blur.active {
  filter: blur(20px);
  pointer-events: none;
}

.empty {
  padding: 2px;
}
.x {
  z-index: 2;
  width: 100%;
  height: 5%;
  background-color: #ffffff;
  transition: 0.1s;
}

.x:hover {
  background-color: #aeaeae;
}

@media only screen and (max-width: 500px) {
  .x {
    left: 6%;
    top: 0px;
    width: auto;
    z-index: 2;
    height: 100px;
    text-align: center;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .x p{
    margin-top:250%;
    font-weight: bold;
  }
}


.objektDiv:hover {
  transform: scale(1.02);
}
@media only screen and (max-width: 500px) {
  .objektDiv:hover {
    transform: none;
  }
}




.objekt_preview_text3 {
  padding-top: 1px;
  padding-right: 1.2%;
}

.objekt_preview_text2 {
  font-size: 70%;
}



.bigger {
  font-size: 100px;
}

.big {
  font-size: 40px;
}
.bigel {
  font-size: 33px;
}
.bold {
  font-weight: bold;
}

.headerbutton {
  padding: 0.5rem; 
border-radius: 0.375rem; 
font-weight: 700; 
font-size: 80%;
background-color: rgb(78, 38, 151); 
color: white;
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
}
.headerbutton:hover {
  padding: 0.5rem; 
border-radius: 0.375rem; 
font-weight: 700; 
background-color: rgb(121, 83, 190); 
color: white;
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
}

.whitetext {
  color: white;
}

/* FOR WHEEL */

.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height:100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backButton {
  background: rgb(78, 38, 151);
  padding:5px;
  color:white;
  position: absolute;
  left:10vw;
  border-radius:10px;
  font-weight:bold;
  width: 40px;
}

/* FOR LOGIN DROPDOWN */

.dropdown {
  width: 100%;
  
}

.dropdown-content {
  display: block;
  width: fit-content;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 3px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}



/* FOR CAROUSEL */
.carousel-indicators [data-bs-target] {
  position: relative;
  width: 60px;
  height: 6px;
  border: none;
  border-radius: 1px;
}

.carousel-indicators [data-bs-target] span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(78, 38, 151);
  border-radius: inherit;
}


/* FOR FLIP OBJEKT */


.flip-card {
  perspective: 1000px;
  width: 200px;
  height: 300px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  width:200px;
}

.flip-card-back {
  width:200px;
  transform: rotateY(180deg);
}

.card-content {
  display: flex;
  text-align: center;
}