@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;

}

main {
  background-color: black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
}

.centerdiv {
  margin: auto;
  
}

.sideBar {
  position: absolute;
  top: 0;
  right: 0;
  width: 11%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  writing-mode: vertical-lr;
  font-family: 'Helvetica Neue';
  text-align: center;
  padding-right: 1.5%;
}

.objektimg{
  margin: auto;
  width:80%;
}


.qrreader {
  width: 50%;
  margin:auto;
}



.button2:hover {
  background-color:rgb(127, 86, 201); 
}


.button2 {
  min-width: 70px;
  width: 30%;
  height: 40px;
  font-size: large;
  background-color:rgb(78, 38, 151); 
  color: white;
  border-radius: 3px;
  padding: 5px;
  display: block;
  margin:auto;
  margin-top: 10px;
}
.text1 {
  color: white;
  font-size: 30px;
  font-weight: 800;
}
.column {
  float: left;
  width: 33.33%;
  padding: 1px;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-5{
  margin-left: 5%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.div1 {
  margin-top: 120px;
  text-align: center;
}
.input1 {
  display: block;
  margin:auto;
  margin-top: 10px;
  width: 19%;
}
.navbarheader {
  width: 100%;
  height: 100px;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 50;
}

.logo {
  height: 69px;
}
.objektgrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 10px;
}

@media only screen and (max-width: 700px) {
  .objektgrid {
      grid-template-columns: repeat(3, 1fr);
  }
}
.grid-objekt {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  margin: auto;

}
.bigger {
  font-size: 100px;
}

.big {
  font-size: 40px;
}
.bold {
  font-weight: bold;
}

.headerbutton {
  padding: 0.5rem; 
border-radius: 0.375rem; 
font-weight: 700; 
background-color: rgb(78, 38, 151); 
color: white;
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
}
.headerbutton:hover {
  padding: 0.5rem; 
border-radius: 0.375rem; 
font-weight: 700; 
background-color: rgb(121, 83, 190); 
color: white;
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
}

.whitetext {
  color: white;
}