@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: black;
  --bs-body-bg: black;

}

main {
  background-color: black;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  --bs-body-bg: black;
}

.centerdiv {
  margin: auto;
  
}


.objektimg{
  margin: auto;
  width:100%;
  transition: 0.2s;
  height: 100%;
}


.objektDiv {
  width: 100%;
  position: relative;
  margin: auto;
  transition: 0.2s ease-in-out;
  height: 100%;
}

.qrreader {
  width: 50%;
  margin:auto;
}



.button2:hover {
  background-color:rgb(127, 86, 201); 
}


.button2 {
  min-width: 70px;
  width: 30%;
  height: 40px;
  font-size: large;
  background-color:rgb(78, 38, 151); 
  color: white;
  border-radius: 3px;
  padding: 5px;
  display: block;
  margin:auto;
  margin-top: 10px;
  text-align: center;
}
.text1 {
  color: white;
  font-size: 30px;
  font-weight: 800;
}
.column {
  float: left;
  width: 33.33%;
  padding: 1px;
}

.row {
  margin-left: 20px;
  margin-right: 20px;
}
.margin-5{
  margin-left: 5%;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}
.div1 {
  margin-top: 120px;
  text-align: center;
}


.input1 {
  display: block;
  margin:auto;
  margin-top: 10px;
  width: 19%;
  min-width: 200px;
}
.navbarheader {
  width: 100%;
  height: 100px;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 10px;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  z-index: 50;
}

.logo {
  height: 69px;
}
.objektgrid {
  display: grid;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  padding: 10px;
}


.scrolling-div {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  width:95%;
  height: 120px;
  margin: auto;
  gap: 10px;
  margin-top: 10px;
}
.scrolling-div-child {
  min-height: 110px;
  height: fit-content;
  text-align: center;
  width:100px;
  min-width: 100px;
  font-size: 60%;
  color: black;
  cursor: pointer;
  background-color: rgb(234, 234, 234);
  transition: 0.2s;
}
.scrolling-div-child:hover {
  width: 120px;
  font-size: 12px;
  background-color: rgb(255, 255, 255);
}

.scrolling-div-child img {
  margin:auto;
}

.scrolling-div-child p {
  width: 90%;
  margin: auto;
}

.partners {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.partner {
  background-color:rgb(236, 236, 236);
  border-radius: 10px;
  opacity: 80%;
  margin: 1px;
  width: 97%;
  transition: 0.2s;
  display: flex;
  font-size: 100%;
}
@media only screen and (max-width: 500px) {
  .partner {
    background-color:rgb(236, 236, 236);
  border-radius: 10px;
  opacity: 80%;
  margin: 1px;
  display: block;
  transition: 0.2s;
    font-size: 70%;
    height: fit-content;
    min-height: 150px;

  }
  
}
@media only screen and (max-width: 500px) {
  .partners {
    grid-template-columns: repeat(3, 1fr);
  }
  
}
@media only screen and (max-width: 500px) {
  .partners p {
    margin:0%;
    margin: auto;
  }
}
.partners p {
  color: rgb(0, 0, 0);
  margin: auto;
  padding:3px;
  
}

.partners p:hover {
  color: rgb(20, 91, 102);
}
.partner:hover {
  opacity: 100%;
}
@media only screen and (max-width: 1000px) {
  .objektgrid {
      grid-template-columns: repeat(4, 1fr);
  }
}
@media only screen and (max-width: 700px) {
  .objektgrid {
      grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 400px) {
  .objektgrid {
      grid-template-columns: repeat(2, 1fr);
  }
}
.grid-objekt {
  padding: 5px;
  font-size: 30px;
  text-align: center;
  margin: auto;

}

.objekt-skeleton {
  text-align: center;
  margin: auto;
  background-color: grey;
  opacity: 20%;
  padding-right: 100%;
  padding-top: 60%;
  padding-bottom: 100%;
  margin-bottom: 20px;
  width: 100%;
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  border-radius: 14px;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
}

.objektinfo {
  min-width: 300px;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 2;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  margin-top:-90px;

}
[aria-hidden="true"]  { display: none; }
@media only screen and (max-width: 600px) {
  .objektinfo {

     width: 100%;
     margin-top:10px;

  }
}


@media only screen and (max-width: 600px) {
  .objektflipclass {
     min-width:200px;

}}

@media only screen and (max-height: 617px) {
  .objektflipclass {
     min-width:130px;

}}
.inobjektinfo {
  display: flex;
  width: 100%;
  max-width: 500px;
  min-width: 400px;
  height: 100%;
  margin-top: 10px;
  margin: auto;
  border-radius: 10px;
  color: white;
  padding:30px;
  overflow-y:scroll;
}

.objektBackground {
  width:70%;
  min-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius:10px;
  height: 60%;
  max-height: 450px;
}

.marginright {
  margin: auto;
  margin-right: 3%;
  scale: 104%;
  
  
}
.marginleft {
  margin:auto;
  height: fit-content;
  
}
@media only screen and (max-width: 600px) {
  .marginright {
    margin-right: 0px;
  }
}
@media only screen and (max-width: 600px) {
  .objektBackground {
    width: 100%;
    min-width: 0px;
    height: 100%;
    max-height: 1000px;
    border-radius:0px 0px 20px 20px;
  }

}
@media only screen and (max-width: 600px) {
  .inobjektinfo {
    display: block;
     width: 100%;
     max-width: 500px;
      min-width: 300px;
     padding: 30px;
     overflow-y: scroll;

     color: white;
     border-radius: 10px;
     margin-top: -138px;
     top: 0;
    bottom:0;

  }
}

@media only screen and (min-width: 1100px) {
  .inobjektinfo {
    scale: 110%;

  }
}

.objektinfodiv {
  margin-top: 8vw;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .objektinfodiv {
    margin: 0px;
    height: auto;
  }
}



@media only screen and (max-width: 600px) {
  .objektflipclass {
    width: 50%; 
    margin: auto;
  }
}


div#blur.active {
  filter: blur(20px);
  pointer-events: none;
}

.empty {
  padding: 2px;
}
.x {
  z-index: 2;
  width: 100%;
  height: 5%;
  background-color: #ffffff;
}

.x:hover {
  background-color: #aeaeae;
}

@media only screen and (max-width: 600px) {
  .x {
    left: 6%;
    top: 0px;
    width: auto;
    z-index: 2;
    height: 100px;
    text-align: center;
    border-radius: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .x p{
    margin-top:250%;
    font-weight: bold;
  }
}


.objektDiv:hover {
  transform: scale(1.02);
}
@media only screen and (max-width: 600px) {
  .objektDiv:hover {
    transform: none;
  }
}




.objekt_preview_text3 {
  padding-top: 1px;
  padding-right: 1.2%;
}

.objekt_preview_text2 {
  font-size: 70%;
}



.bigger {
  font-size: 100px;
}

.big {
  font-size: 40px;
}
.bigel {
  font-size: 33px;
}
.bold {
  font-weight: bold;
}

.headerbutton {
  padding: 0.5rem; 
border-radius: 0.375rem; 
font-weight: 700; 
font-size: 80%;
background-color: rgb(78, 38, 151); 
color: white;
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
}
.headerbutton:hover {
  padding: 0.5rem; 
border-radius: 0.375rem; 
font-weight: 700; 
background-color: rgb(121, 83, 190); 
color: white;
transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
transition-duration: 300ms; 
}

.whitetext {
  color: white;
}

/* FOR WHEEL */

.lds-dual-ring {
  display: inline-block;
  width: 100px;
  height: 100px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 100px;
  height:100px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.backButton {
  background: rgb(78, 38, 151);
  padding:5px;
  color:white;
  position: absolute;
  left:10vw;
  border-radius:10px;
  font-weight:bold;
  width: 40px;
}

/* FOR LOGIN DROPDOWN */

.dropdown {
  width: 100%;
  
}

.dropdown-content {
  display: block;
  width: fit-content;
  margin: auto;
  background-color: #f9f9f9;
  border-radius: 3px;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}



/* FOR CAROUSEL */
.carousel-indicators [data-bs-target] {
  position: relative;
  width: 60px;
  height: 6px;
  border: none;
  border-radius: 1px;
}

.carousel-indicators [data-bs-target] span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgb(78, 38, 151);
  border-radius: inherit;
}


/* FOR FLIP OBJEKT */


.flip-card {
  perspective: 1000px;
  width: 200px;
  height: 300px;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip-card.flipped {
  transform: rotateY(180deg);
}

.flip-card-inner {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
}

.flip-card-front {
  width:200px;
}

.flip-card-back {
  width:200px;
  transform: rotateY(180deg);
}

.card-content {
  display: flex;
  text-align: center;
}

/* loading*/


  .container {
    --uib-size: 120px;
    --uib-color: rgb(255, 255, 255);
    --uib-speed: 1.5s;
    --uib-dot-size: calc(var(--uib-size) * 0.1);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: calc(var(--uib-size) * 0.64);
    width: calc(var(--uib-size) * 0.64);
  }

  @keyframes jump {
    0%,
    100% {
      transform: translateY(120%);
    }

    50% {
      transform: translateY(-120%);
    }
  }

  .dot {
    --uib-d1: -0.48;
    --uib-d2: -0.4;
    --uib-d3: -0.32;
    --uib-d4: -0.24;
    --uib-d5: -0.16;
    --uib-d6: -0.08;
    --uib-d7: -0;
    position: absolute;
    bottom: calc(var(--uib-bottom) + var(--uib-dot-size) / 2);
    right: calc(var(--uib-right) + var(--uib-dot-size) / 2);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: var(--uib-dot-size);
    width: 10px;
    animation: jump var(--uib-speed) ease-in-out infinite;
    opacity: var(--uib-scale);
    will-change: transform;
    backface-visibility: hidden;
  }

  .dot::before {
    content: '';
    height: 100%;
    width: 100%;
    background-color: var(--uib-color);
    border-radius: 50%;
    transform: scale(var(--uib-scale));
    transition: background-color 0.3s ease;
  }

  .dot:nth-child(1) {
    --uib-bottom: 24%;
    --uib-right: -35%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d1));
  }
  .dot:nth-child(2) {
    --uib-bottom: 16%;
    --uib-right: -6%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d2));
  }
  .dot:nth-child(3) {
    --uib-bottom: 8%;
    --uib-right: 23%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d3));
  }
  .dot:nth-child(4) {
    --uib-bottom: -1%;
    --uib-right: 51%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d4));
  }
  .dot:nth-child(5) {
    --uib-bottom: 38%;
    --uib-right: -17.5%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d2));
  }
  .dot:nth-child(6) {
    --uib-bottom: 30%;
    --uib-right: 10%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d3));
  }
  .dot:nth-child(7) {
    --uib-bottom: 22%;
    --uib-right: 39%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d4));
  }
  .dot:nth-child(8) {
    --uib-bottom: 14%;
    --uib-right: 67%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d5));
  }
  .dot:nth-child(9) {
    --uib-bottom: 53%;
    --uib-right: -0.8%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d3));
  }
  .dot:nth-child(10) {
    --uib-bottom: 44.5%;
    --uib-right: 27%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d4));
  }
  .dot:nth-child(11) {
    --uib-bottom: 36%;
    --uib-right: 55.7%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d5));
  }
  .dot:nth-child(12) {
    --uib-bottom: 28.7%;
    --uib-right: 84.3%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d6));
  }
  .dot:nth-child(13) {
    --uib-bottom: 66.8%;
    --uib-right: 15%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d4));
  }
  .dot:nth-child(14) {
    --uib-bottom: 58.8%;
    --uib-right: 43%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d5));
  }
  .dot:nth-child(15) {
    --uib-bottom: 50%;
    --uib-right: 72%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d6));
  }
  .dot:nth-child(16) {
    --uib-bottom: 42%;
    --uib-right: 100%;
    animation-delay: calc(var(--uib-speed) * var(--uib-d7));
  }

  .dot:nth-child(3) {
    --uib-scale: 0.98;
  }
  .dot:nth-child(2),
  .dot:nth-child(8) {
    --uib-scale: 0.96;
  }
  .dot:nth-child(1),
  .dot:nth-child(7) {
    --uib-scale: 0.94;
  }
  .dot:nth-child(6),
  .dot:nth-child(12) {
    --uib-scale: 0.92;
  }
  .dot:nth-child(5),
  .dot:nth-child(11) {
    --uib-scale: 0.9;
  }
  .dot:nth-child(10),
  .dot:nth-child(16) {
    --uib-scale: 0.88;
  }
  .dot:nth-child(9),
  .dot:nth-child(15) {
    --uib-scale: 0.86;
  }
  .dot:nth-child(14) {
    --uib-scale: 0.84;
  }
  .dot:nth-child(13) {
    --uib-scale: 0.82;
  }
